#banner{
    color:aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-variant: small-caps;
    text-align: left;
    letter-spacing: 2px;
    padding: 20px 15px 5px;
    background-color: blue;
    height: 300px;
    background-image: url(../assets/Imagen-andes1.png);
    background-size: auto;
}