<div class="row">

   <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <p id="title">Full Stack Developer Jr</p>
      <img src="../../../assets/Imagen-Yo1.png" class="img-fluid" id="fotoperfil">
   </div>

   <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
         <p id="subtitle">Acerca de Mi</p>
         <p id="parrafo">Me motiva aprender cosas nuevas. Tengo más de 20 años de experiencia en la industria turística, 
         y a mis casi 50 años de edad, emprendí el gran desafío de aprender a programar. 
         Es una actividad que por el momento, me atrae mucho, pues mantiene mi cabeza ocupada.</p>
   </div>

</div>