.row{
    padding: 10px;
}

div{
    background-color: #95b0d1;
    text-align: left;
}

#name{
    font-weight: bold;
    font-size: 25px;
}

#subtitle{
    font-weight: bold;
    font-size: 20px;
}

#parrafo{
    font-style: italic;
}
