<div class="row">
    <h1>Hard & Soft Skills</h1>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="35"
            [radius]="100"
            [imageSrc]="'../assets/Logo-htm.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ff7573'"
            [innerStrokeColor]="'#ffffff'"
            [backgroundColor]="'#333333'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="35"
            [radius]="100"
            [imageSrc]="'../assets/Logo-css.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ff7573'"
            [innerStrokeColor]="'#ffffff'"
            [backgroundColor]="'#333333'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="15"
            [radius]="100"
            [imageSrc]="'../assets/Logo-vsc.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#ff7573'"
            [innerStrokeColor]="'#ffffff'"
            [backgroundColor]="'#333333'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/Logo-psd.png'"
            [showImage]="true"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#005b96'"
            [innerStrokeColor]="'#6e7f80'"
            [backgroundColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="75"
            [radius]="100"
            [imageSrc]="'../assets/Logo-eng.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#005b96'"
            [innerStrokeColor]="'#6e7f80'"
            [backgroundColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="35"
            [radius]="100"
            [imageSrc]="'../assets/Logo-scr.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#005b96'"
            [innerStrokeColor]="'#6e7f80'"
            [backgroundColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
</div>
