<div class="row">
    <h1>Hard & Soft Skills</h1>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="35"
            [radius]="100"
            [showUnits]="false"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'500'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#778CA6'"
            [innerStrokeColor]="'#333333'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="35"
            [radius]="100"
            [showUnits]="false"
            [title]="'CCS'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'500'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#778CA6'"
            [innerStrokeColor]="'#333333'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="15"
            [radius]="100"
            [showUnits]="false"
            [title]="'VSC'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'500'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#778CA6'"
            [innerStrokeColor]="'#333333'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="50"
            [radius]="100"
            [showUnits]="false"
            [title]="'Photoshop'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#95B0D1'"
            [innerStrokeColor]="'#C7C7C7'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="65"
            [radius]="100"
            [showUnits]="false"
            [title]="'Excel'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#95B0D1'"
            [innerStrokeColor]="'#C7C7C7'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-sm-4 col-lg-4">
            <circle-progress
            [percent]="35"
            [radius]="100"
            [showUnits]="false"
            [title]="'Scrum'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#95B0D1'"
            [innerStrokeColor]="'#C7C7C7'"
            [animation]="true"
            [animationDuration]="600"
            ></circle-progress>
        </div>
</div>
